.display{
    width: 500px;
    height: 500px;
    margin: 100;
    padding: 50px;
    border: 10px solid black;
}

#frame1{
    float: left;
    margin-right: 8px;
}

#frame2{
    margin-left: 516px;
}

#ugahead {
    width: 280px;
    height: 85px;
}

.labfooter {
    box-sizing: border-box;
    padding: 100px 0;
    border-width: 4px 0 0;
    border-style: solid;
    background: url(https://www.uga.edu/img/background-arch.90a37034.jpg) #000 50% no-repeat;
    background-size: cover;
}

.labheader {
    font-family: Oswald,Impact,Arial Narrow,Helvetica Neue;
}